@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-container p {
    padding-bottom: 1.5em;
}

.chat-content::-webkit-scrollbar {
    width: 0.375rem!important;
}

.markdown-body table tr {
    /*background-color: var(--black-31) !important;*/
    border-top: 1px solid white;
}

.markdown-body table tr:nth-child(2n) {
    /*background-color: var(--black-31) !important;*/
    border-top: 1px solid white;
}

.markdown-body table th,
.markdown-body table td {
    padding: 6px 13px;
    border: 1px solid white;
}

.chat-container .code-wrapper:hover .copy-btn {
    display: block;
}

.chat-container .copy-btn {
    display: none;
    cursor: pointer;
    padding: 2px 4px;
    background-color: #343541;
    color: white;
    border-radius: 5px;
    user-select: none;
    transition: all 0.3s ease;
}

.chat-container .copy-btn:hover {
    background-color: white;
    color: black;
}