@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500&display=swap');

.chat {
    font-family: 'Noto Serif SC', serif;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    color: #fff;
}

.chat-side-bar {
    background: #202123;
    width: 300px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.chat-side-bar .new-chat {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color: #fff;
    cursor: pointer;
}

.chat-side-bar .new-chat:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}

.chat-history::-webkit-scrollbar {
    width: 0 !important;
}

.chat-history-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat-body {
    width: calc(100vw - 300px);
}

.chat-body p {
    padding-bottom: 1.5em;
}

.chat-body-content::-webkit-scrollbar {
    width: 0 !important;
}

.markdown-body::-webkit-scrollbar {
    width: 0 !important;
}

.markdown-body table tr {
    /*background-color: var(--black-31) !important;*/
    border-top: 1px solid white;
}

.markdown-body table tr:nth-child(2n) {
    /*background-color: var(--black-31) !important;*/
    border-top: 1px solid white;
}

.markdown-body table th,
.markdown-body table td {
    padding: 6px 13px;
    border: 1px solid white;
}

.chat-body .code-wrapper:hover .copy-btn {
    display: block;
}

.chat-body .code-wrapper .code {
    padding: 1rem 2rem !important;
}

.chat-body .copy-btn {
    display: none;
    cursor: pointer;
    padding: 2px 4px;
    background-color: white;
    color: black;
    border-radius: 5px;
    user-select: none;
    transition: all 0.3s ease;
}

.chat-body .copy-btn:hover {
    background-color: #444654;
    color: white;
}

.chat-body-textarea::-webkit-scrollbar {
    width: 0 !important;
}

.chat .show-settings {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
}

.cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    padding: 2rem;
}

.card--1 .card__img, .card--1 .card__img--hover {
    background-image: url('https://images.huangrx.cn/uploads/2023/06/08/chat-chatgpt-introducing.jpg');
}

.card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

.card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}

.card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;

}
.card {
    width: 30%;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
    box-shadow: 0 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
    z-index: 2;
    color: black;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.card__category {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}


@media screen and (max-width: 768px) {
    .chat-side-bar {
        width: 0;
    }

    .chat-body {
        width: 100vw;
    }

    .show-menu {
        width: 80vw;
        position: fixed;
        z-index: 99;
        animation: slideInFromLeft 1s ease-out;
    }

    .show-menu-close {
        z-index: 9;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgba(93, 90, 90, 0.3);
        animation: slideInFromLeft 1s ease-out;
    }

    .show-menu-close-icon {
        position: fixed;
        color: white;
        z-index: 99;
        right: 3rem;
        top: 1rem;
    }

    .card {
        width: 100% !important;
    }


}

@media screen and (max-width: 1400px) {
    .card {
        width: 60%;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}